* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: #9698a6;
  min-width: 320px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  line-height: 25px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #2d314d; }

h2 {
  font-size: 1.8em; }

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.btn-primary {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding: 15px 40px;
  background: linear-gradient(to left, #2bb7da 0%, #31d35c 100%);
  border-radius: 30px;
  transition: all .8s ease-in;
  display: inline-block; }
  .btn-primary:hover {
    background: linear-gradient(to left, #31d35c 0%, #2bb7da 100%); }

.ocultar {
  display: none;
  transition: all ease .8s; }

.nav-hamburger.cambiar-bg {
  background: url("/images/icon-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

header {
  width: 100%;
  z-index: 0;
  margin-bottom: 40px; }

.overlay {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, #2d314d 0%, white 100%);
  cursor: pointer;
  opacity: .8;
  transition: all ease .8s;
  z-index: 40; }

nav {
  position: absolute;
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  z-index: 50; }
  nav .nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  nav a.content-image {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 170px; }
    nav a.content-image img {
      height: 25px; }
  nav ul {
    background-color: white;
    position: absolute;
    bottom: -340px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-radius: 15px;
    transition: all ease .8s;
    z-index: 10; }
    nav ul li {
      width: 100%;
      margin-bottom: 10px; }
      nav ul li a {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        color: #2d314d;
        font-weight: 600;
        transition: transform ease-in .3s; }
        nav ul li a:hover {
          transform: scale(1.2); }
  nav .nav-hamburger {
    background: url("/images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25px;
    width: 30px;
    cursor: pointer;
    transition: all ease .3s; }
  nav .btn-nav {
    display: none; }

main {
  position: relative; }
  main .main-container-img {
    overflow: hidden;
    width: 80%;
    text-align: center;
    background: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}
    main .main-container-img img {
      max-width: 70%; 
      margin-top: -5%;
      position: relative;
      z-index: 10; }
  main .main-container-content {
    text-align: center; }
    main .main-container-content h1 {
      font-size: 2.2em; }
    main .main-container-content p {
      padding: 10px 25px;
      margin: 20px 0 40px;
      text-align: center;
      font-size: 16px; }

section.why-choose {
  position: relative;
  width: 100%;
  background-color: #f3f4f6;
  padding: 80px 20px 60px;
  text-align: center; }
  section.why-choose h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
    line-height: 1.5em; }

.container-cards {
  margin-top: 60px; }
  .container-cards .card {
    margin-top: 40px; }
    .container-cards .card .card-image {
      margin-bottom: 20px; }
    .container-cards .card .card-body h3 {
      font-size: 1.3em; }
    .container-cards .card .card-body p {
      margin-top: 25px; }

section.articles {
  padding: 80px 0 60px; }
  section.articles h2 {
    text-align: center;
    margin-bottom: 25px; }

article {
  background-color: #fafafa;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 1px 10px 0px #c8c8c8;
  margin-bottom: 25px; }
  article .article-top {
    width: 100%;
    height: 280px;
    overflow: hidden; }
    article .article-top img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  article .article-body {
    padding: 30px 25px; }
    article .article-body h3 {
      font-size: .9em;
      margin: 10px 0; }
      
    article .article-body p {
      font-size: 14px;
      line-height: 20px; }
    article .article-body p.autor {
      font-size: 12px; }
  #test a {
    color: black;
  }
  #test :hover{
        color: #31d35c; }

footer {
  background-color: #2d314d;
  padding: 60px 0;
  text-align: center; }
  footer .logo-footer {
    height: 25px;
    margin-bottom: 20px; }
  footer .btn-nav {
    margin: 20px 0; }

.sociales {
  margin-bottom: 20px; }
  .sociales a {
    margin: 0 5px; }
      path:hover {
        fill: #31d35c; }

ul.menu li {
  margin-bottom: 10px;
  padding: 5px 0; }
  ul.menu li a {
    color: #fafafa;
    transition: all ease-in .3s; }
    ul.menu li a:hover {
      color: #31d35c; }

@media screen and (min-width: 768px) {
  .overlay {
    display: none; }

  nav {
    position: relative;
    z-index: 100;
    height: 80px;
    padding-left: 0;
    padding-right: 0; }
    nav .nav-container {
      max-width: 1000px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; }
    nav a.content-image {
      height: 100%;
      display: flex;
      align-items: center; }
      nav a.content-image img {
        height: 25px; }
    nav ul {
      padding: 0;
      background-color: initial;
      position: initial;
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 100%;
      text-align: center;
      border-radius: 0px; }
      nav ul li {
        width: 100%;
        margin-bottom: 0; }
        nav ul li a {
          border-bottom: 5px solid transparent; }
          nav ul li a:hover {
            transform: scale(1);
            border-color: #31d35c; }
    nav .nav-hamburger {
      display: none; }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px; }
    main .main-container-img {
      order: 2;
      overflow: initial;
      width: 55%;
      background: url("./images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left; }
      main .main-container-img img {
        width: 90%;
        margin-top: 10px; }
    main .main-container-content {
      text-align: left;
      width: 45%;
      padding-left: 10%; }
      main .main-container-content p {
        padding: 10px 0px;
        margin: 20px 0 40px;
        text-align: left; }

  .container-cards {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; }
    .container-cards .card {
      width: 45%;
      text-align: left; }

  .container-articles {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; }

  article {
    width: 45%; }
    article .article-body {
      padding: 30px 25px; }
      article .article-body h3 {
        font-size: .9em;
        margin: 10px 0; }
      article .article-body p {
        font-size: 14px;
        line-height: 20px; }
      article .article-body p.autor {
        font-size: 12px; } }
@media screen and (min-width: 1024px) {
  nav ul {
    width: 50%; }
  nav .btn-nav {
    display: inline-block;
    padding: 10px 25px; }

  main {
    height: 530px; }
    main .main-container-img {
      order: 2;
      width: 55%; }
      main .main-container-img img {
        width: 90%;
        margin-top: 50px; }
    main .main-container-content {
      width: 45%;
      padding-left: 12%; }

  section.why-choose {
    text-align: left;
    padding-left: 0;
    padding-right: 0; }
    section.why-choose p.p-choose {
      width: 50%; }

  .container-cards {
    justify-content: space-between; }
    .container-cards .card {
      width: 23.5%; }

  section.articles h2 {
    text-align: left; }

  .container-articles {
    justify-content: space-between; }

  article {
    width: 23.5%;
    height: 420px;
    margin-bottom: 0; }
    article .article-top {
      height: 180px; }
    article .article-body {
      padding: 30px 20px; }

  footer {
    padding: 40px 0; }
    footer .container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    footer .btn-nav {
      margin: 0 0 20px; }

  .prim {
    width: 20%; }

  ul.menu {
    text-align: left;
    padding-left: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap; }
    ul.menu li {
      width: 50%; }

  .trois {
    width: 30%; }

  .sociales {
    margin-bottom: 0; } }


